$lightpurp: rgb(152,158,199);
$blue: rgb(95,138,232);
$green: rgb(63,73,65);
$darkpurp: rgb(95,103,145);
$black: rgb(7,11,23);
$red: #5E0B15;

.Splash {
      .SplashImage{
        min-width: 100%;
        background:  url('/assets/capitol_building.jpg') rgba(280, 288, 288, 0.8);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .address-form {
        margin-top:5rem;
        margin-bottom:5rem;

        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; 
        .address-inner-container {
            padding: 2rem;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.6);
            .no-address-form {
                padding-top:6rem;
                padding: bottom 6px;
            }
            
            h1, h2 {
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                margin-bottom:0;
                line-height:0.8;
                font-size: 3rem;
            }
            h1 {
                color: $red;
                font-size: 4rem;
            }
            .home-address {
                align-self: left;
                text-align: left;
                width: 100%;
            }
            h2 {
                align-self: left;
                color: $black !important;
                margin-top:1rem;
                font-size: 2rem;
                color:$blue;
                padding-left:4px;
    
            }
            #addressInput {
                font-family: 'Courier New', Courier, monospace;
            }
            input {
                text-align: center;
            }
            .form-control {
                background-color: rgba(255,255,255,0.6);
                color:$blue;
                border-color: rgba(255,255,255, 0.8);
                
                
            }
            .form-control::placeholder {
                color:$black;
                font-weight: lighter;
                font-family: 'Courier New', Courier, monospace;
            }
            .form-inline {
                margin-top:2rem;
                align-items:flex-start;
            }
    
            .search-div {
                text-align: center;
            }
            button {
                border-color: white;
                width:100%;
                border-color: rgba(255,255,255, 0.6);
                background-color: $blue;
                transition: 0.5s;
                
                input {
                    background-color: transparent;
                    background-color: $blue;
    
                    border: none;
                    color: white ;
                    transition: 0.5s;

                }
            }
            .btn-primary {
                background-color: $blue;
            }
            button:active, button:hover {
                border-color: $red;
                input {
                    color:$red;

                }
            }

        }

    }
}

@media screen and (max-width: 992px) {
    .Splash {
            .address-form {
                border-radius:5px;
                padding:1rem;

            }
        }
}
@media screen and (max-width: 576px) {
    .Splash {
        .address-form {
            margin-top:5rem;
            margin-bottom:5rem;

            .address-inner-container{
                padding: 0.5rem;
                border-radius: 0;
                h1 {
                    font-size: 2.5rem;
                }
                h2 {
                    font-size: 1.5rem;
                }
                button {
                    margin-top:0;
                }

                .form-inline {
                    justify-content: center;
                    line-height: 1.1rem;
                }

                .form-group-small {
                    display: block
                }

            }

        } 
    }
}

@media screen and (max-width: 420px) {
    .Splash {
        .address-form {
            margin-top:2rem;
            .address-inner-container{
                #addressInput{
                    padding-left:1px;
                    padding-right:1px;
                }
                .btn {
                    padding-left:1px;
                    padding-right: 1px;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .Splash {
        .address-form {
            padding-left:5px;
            padding-right: 5px;
           
        }
    }
}

/* MIN HEIGHT */


@media screen and (min-width: 1200px) {
    .Splash {
        .SplashImage{
            background-position: 20%;
            background-size: cover;
        .address-form {
           margin-top:10rem;
           margin-bottom:10rem;
           
        }
    }
    }
}